<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>baileys</title>
    
    <script crossorigin="anonymous" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" src="https://lib.baomitu.com/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.0.1/build/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid">
    <!-- 页头 -->
    <div class="row">
        <div class="col-md-10">
            <div class="page-header">
                <h1>Baileys<small> 代码自动生成工具 —— golang struct 生成 Protocol Buffers </small></h1>
            </div>
        </div>
    </div>


    <!-- 模板列表 -->
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-default">
                    <div id="go_struct_input" class="editor">// T 测试结构体 
type T struct {
    // F1测试字段
    F1 bool
    // F2测试字段
    F2 int
    // F3测试字段
    F3 int8
    // F4测试字段
    F4 int16
    // F5测试字段
    F5 int32
    // F6测试字段
    F6 int64
    // F7测试字段
    F7 uint
    // F8测试字段
    F8 uint8
    // F9测试字段
    F9 uint16
    // F10测试字段
    F10 uint32
    // F11测试字段
    F11 uint64
    // F12测试字段
    F12 uintptr
    // F13测试字段
    F13 float32
    // F14测试字段
    F14 float64
    // F15测试字段
    F15 complex64
    // F16测试字段
    F16 complex128
    // F17测试字段
    F17 interface{}
    // F18测试字段
    F18 map[string]string
    // F19测试字段
    F19 string
    // F20测试字段
    F20 []string
    // F21测试字段
    F21 struct{}
    // F22测试字段
    F22 User
}

type User struct {
    Name string 
    Age int
}
                </div>
            </div>
        </div>
        <div class="col-md-2" style="top: 200px; left: 75px;">
            <button type="button" class="btn btn-success" onclick="gen()"> 点击转换-> </button><br><br><br><br>
        </div>
        <div class="col-md-5">
            <div class="panel panel-default">
                <div id="pb_code" class="editor"></div>
            </div>
        </div>
    </div>
</div>


<style>
    .editor {
        height: 800px;
        margin: 0 20px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
</style>
<script>
    var go_struct_input_editor = ace.edit("go_struct_input");
    go_struct_input_editor.setTheme("ace/theme/monokai");
    go_struct_input_editor.getSession().setMode("ace/mode/golang");
    go_struct_input_editor.setOptions({
      fontSize: "10pt"
    });

    var pb_code_editor = ace.edit("pb_code");
    pb_code_editor.setTheme("ace/theme/monokai");
    pb_code_editor.getSession().setMode("ace/mode/protobuf");
    pb_code_editor.setOptions({
      fontSize: "10pt"
    });
    
    // 点击生成
    function gen() {
        $.ajax({
            url: '/gen/go/pb',
            type: 'post',
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify({                  
                go_struct: go_struct_input_editor.getValue()
            }),
            success: function(result){
                pb_code_editor.setValue(result.data);
            },error: function (e) {
                alert(e.statusText)
            }
        })
    }
</script>
</body>
</html>
